In [1]:
import pandas as pd
import numpy as np

In [2]:
air_df=pd.read_csv('C:\\Users\\sree\\Desktop\\jupyter\\data science\\AirQualityUCI.csv')

In [4]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   int64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(5), int64(8), object(2)
memory usage: 1023.5+ KB

In [5]:
air_df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

In [14]:
air_df[air_df['NMHC(GT)']==-200]['NMHC(GT)'].count()

8443

In [15]:
air_df.drop(['NMHC(GT)'], axis=1, inplace=True)

In [16]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   C6H6(GT)       9357 non-null   float64
 5   PT08.S2(NMHC)  9357 non-null   int64
 6   NOx(GT)        9357 non-null   int64
 7   PT08.S3(NOx)   9357 non-null   int64
 8   NO2(GT)        9357 non-null   int64
 9   PT08.S4(NO2)   9357 non-null   int64
 10  PT08.S5(O3)    9357 non-null   int64
 11  T              9357 non-null   float64
 12  RH             9357 non-null   float64
 13  AH             9357 non-null   float64
dtypes: float64(5), int64(7), object(2)
memory usage: 950.4+ KB

In [17]:
air_df[air_df['CO(GT)']==-200]['CO(GT)'].count()

1683

In [18]:
air_df[air_df['PT08.S1(CO)']==-200]['PT08.S1(CO)'].count()

366

In [19]:
air_df[air_df['C6H6(GT)']==-200]['C6H6(GT)'].count()

366

In [20]:
air_df[air_df['PT08.S2(NMHC)']==-200]['PT08.S2(NMHC)'].count()

366

In [21]:
air_df[air_df['PT08.S2(NMHC)']==-200]['PT08.S2(NMHC)'].count()

366

In [22]:
air_df[air_df['NOx(GT)']==-200]['NOx(GT)'].count()

1639

In [23]:
air_df[air_df['PT08.S3(NOx)']==-200]['PT08.S3(NOx)'].count()

366

In [24]:
air_df[air_df['NO2(GT)']==-200]['NO2(GT)'].count()

1642

In [25]:
air_df[air_df['PT08.S4(NO2)']==-200]['PT08.S4(NO2)'].count()

366

In [26]:
air_df[air_df['PT08.S5(O3)']==-200]['PT08.S5(O3)'].count()

366

In [27]:
air_df[air_df['T']==-200]['T'].count()

366

In [28]:
air_df[air_df['RH']==-200]['RH'].count()

366

In [29]:
air_df[air_df['AH']==-200]['AH'].count()

366

In [42]:
air_df['Date']=pd.to_datetime(air_df['Date'], format='%m%d%Y')

In [43]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   C6H6(GT)       9357 non-null   float64
 5   PT08.S2(NMHC)  9357 non-null   int64
 6   NOx(GT)        9357 non-null   int64
 7   PT08.S3(NOx)   9357 non-null   int64
 8   NO2(GT)        9357 non-null   int64
 9   PT08.S4(NO2)   9357 non-null   int64
 10  PT08.S5(O3)    9357 non-null   int64
 11  T              9357 non-null   float64
 12  RH             9357 non-null   float64
 13  AH             9357 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(7), object(1)
memory usage: 986.9+ KB

In [44]:
air_df['Date'].head()

0   2004-03-10
1   2004-03-10
2   2004-03-10
3   2004-03-10
4   2004-03-10
Name: Date, dtype: datetime64[ns]

In [45]:
air_df['Time']=pd.to_datetime(air_df['Time'], format="%H:%M:%S")

In [46]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   datetime64[ns]
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   C6H6(GT)       9357 non-null   float64
 5   PT08.S2(NMHC)  9357 non-null   int64
 6   NOx(GT)        9357 non-null   int64
 7   PT08.S3(NOx)   9357 non-null   int64
 8   NO2(GT)        9357 non-null   int64
 9   PT08.S4(NO2)   9357 non-null   int64
 10  PT08.S5(O3)    9357 non-null   int64
 11  T              9357 non-null   float64
 12  RH             9357 non-null   float64
 13  AH             9357 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(7)
memory usage: 1023.5 KB

In [47]:
air_df['Time'].head()

0   1900-01-01 18:00:00
1   1900-01-01 19:00:00
2   1900-01-01 20:00:00
3   1900-01-01 21:00:00
4   1900-01-01 22:00:00
Name: Time, dtype: datetime64[ns]

In [48]:
month=air_df['Date'].dt.month
month.head()

0    3
1    3
2    3
3    3
4    3
Name: Date, dtype: int64

In [50]:
month.unique()

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2], dtype=int64)

In [53]:
Day=air_df['Date'].dt.day

In [54]:
Day.head()

0    10
1    10
2    10
3    10
4    10
Name: Date, dtype: int64

In [55]:
DayOfWeek=air_df['Date'].dt.dayofweek

In [56]:
DayOfWeek.head()

0    2
1    2
2    2
3    2
4    2
Name: Date, dtype: int64

In [59]:
DayofWeek=air_df['Date'].dt.dayofweek

In [60]:
DayofWeek.head()

0    2
1    2
2    2
3    2
4    2
Name: Date, dtype: int64

In [65]:
dayname=air_df.Date.dt.weekday_name

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [68]:
dateofweek=air_df.Date.dt.dayofyear
dateofweek.head()

0    70
1    70
2    70
3    70
4    70
Name: Date, dtype: int64

In [70]:
dateofweek.nunique()

366

In [75]:
timestamp = pd.to_datetime('9:00:00', format='%H:%M:%S')

In [77]:
late_login=air_df[air_df['Time']>timestamp]['Time']

In [79]:
late_login.head()

0   1900-01-01 18:00:00
1   1900-01-01 19:00:00
2   1900-01-01 20:00:00
3   1900-01-01 21:00:00
4   1900-01-01 22:00:00
Name: Time, dtype: datetime64[ns]

In [80]:
late_login.unique()

array(['1900-01-01T18:00:00.000000000', '1900-01-01T19:00:00.000000000',
       '1900-01-01T20:00:00.000000000', '1900-01-01T21:00:00.000000000',
       '1900-01-01T22:00:00.000000000', '1900-01-01T23:00:00.000000000',
       '1900-01-01T10:00:00.000000000', '1900-01-01T11:00:00.000000000',
       '1900-01-01T12:00:00.000000000', '1900-01-01T13:00:00.000000000',
       '1900-01-01T14:00:00.000000000', '1900-01-01T15:00:00.000000000',
       '1900-01-01T16:00:00.000000000', '1900-01-01T17:00:00.000000000'],
      dtype='datetime64[ns]')

In [82]:
late_login.nunique()

14

In [84]:
air_df['Time'].head(24)

0    1900-01-01 18:00:00
1    1900-01-01 19:00:00
2    1900-01-01 20:00:00
3    1900-01-01 21:00:00
4    1900-01-01 22:00:00
5    1900-01-01 23:00:00
6    1900-01-01 00:00:00
7    1900-01-01 01:00:00
8    1900-01-01 02:00:00
9    1900-01-01 03:00:00
10   1900-01-01 04:00:00
11   1900-01-01 05:00:00
12   1900-01-01 06:00:00
13   1900-01-01 07:00:00
14   1900-01-01 08:00:00
15   1900-01-01 09:00:00
16   1900-01-01 10:00:00
17   1900-01-01 11:00:00
18   1900-01-01 12:00:00
19   1900-01-01 13:00:00
20   1900-01-01 14:00:00
21   1900-01-01 15:00:00
22   1900-01-01 16:00:00
23   1900-01-01 17:00:00
Name: Time, dtype: datetime64[ns]

In [86]:
air_df['Time'].dt.day

<bound method Series.unique of 0      1900-01-01 18:00:00
1      1900-01-01 19:00:00
2      1900-01-01 20:00:00
3      1900-01-01 21:00:00
4      1900-01-01 22:00:00
               ...
9352   1900-01-01 10:00:00
9353   1900-01-01 11:00:00
9354   1900-01-01 12:00:00
9355   1900-01-01 13:00:00
9356   1900-01-01 14:00:00
Name: Time, Length: 9357, dtype: datetime64[ns]>