<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [1]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [3]:
# Print “Hello, World!” to console
print("Hello, World!")

Hello, World!

In [ ]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
sharks = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']

# For loop that iterates over sharks list and prints each string item
for item in sharks:
    print(item)

### 2.Write a Python Program to Add Two Numbers

In [ ]:
# initialise two varaibles
a=10
b=5
# Add two numbers
sum=a+b

# Display the sum
print(sum)

### 3.Write a Python Program to Find the product of two numbers

In [ ]:
# initialise two varaibles
a=9
b=8

# multiply two numbers
result = a*b

# Display the sum
print(result)

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [4]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10
height=3
base =10

Area = 0.5*(base * height)
print("The area of the triangle is % f" %Area)
print("The area of the triangle is {}" .format(Area))

The area of the triangle is  15.000000
The area of the triangle is 15.0

### 5.Python Program to Swap Two Variables

In [6]:
# initialise two varaibles

a=10
b=15

# create a temporary variable and swap the values

temp=a
a=b
b=temp
print(a,b)

15 10

## Section

### 1.Write a python program to print datatype of a varaible

In [7]:
a = 1

print(a, "is the data type of" , type(a))

b = 2.0

print(b, "is the data type of" ,type(b))

c = 1+2j

print(c, "is the data type of" ,type(c))

1 is the data type of <class 'int'>
2.0 is the data type of <class 'float'>
(1+2j) is the data type of <class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [11]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print(a[2])
# Print the first 3 items
print(a[:3])
# Print the last 3 items
print(a[-3:])
# Start to third last item
print(a[:-3])

35
[15, 20, 35]
[30, 35, 60]
[15, 20, 35, 40, 45]

### 3.Converting Floats to Integers

In [9]:
b = 125.0
c = 390.8

# Print the Integer values
print(int(b))
print(int(c))

125
390

### 4.Converting Numbers to Strings

In [15]:
a = 10

print(a, "is of type", type(a))

# Convert the value in a to a string and then print
b=str(a)
print(b, "is of type", type(b))
print(a,b)

10 is of type <class 'int'>
10 is of type <class 'str'>
10 10

### 5.Converting Strings to Numbers

In [17]:
a = "50"
b = "108"

# Find the difference between a and b
a=int(a)
b=int(b)

print("{},{} type of {},{}: ".format(a, b,type(a),type(b)))

50,108 type of <class 'int'>,<class 'int'>:

### 6.Converting list to Tuples

In [11]:
myList = ['request', 'source', 'repository', 'branch']

# Print myList to a Tuple
new_list=tuple(myList)
print("new_list is of {} type".format(type(new_list)))
print(new_list)

new_list is of <class 'tuple'> type
('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [10]:
myTuple = ('blue', 'red', 'white')

# Print myTuple to a List
new_list=list(myTuple)
print("new_list is of {} type".format(type(new_list)))
print(new_list)

new_list is of <class 'list'> type
['blue', 'red', 'white']

### 8.converting strings to lists:

In [9]:
myString = 'INSAID'

# Convert myString to List
new_string=list(myString)
print("new_string is of {} type".format(type(new_string)))
print(new_string)

new_string is of <class 'list'> type
['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [ ]:
# Try string, float, boolean, list, tuple, dictionary
my_string='MARVEL'

## Section

### Print out a string that uses a formatter

In [12]:
# Print "john has 5 cars." using formatter
print("john has {} cars.".format(5))

john has 5 cars.

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [14]:
open_string = "john likes {}."

# Use format method to print the following output "john likes open source."
print("john likes {}.".format('open source'))

john likes open source.

### Using Formatters with Multiple Placeholders

In [15]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."
print("john likes {} {}.".format('open-source','software'))

john likes open-source software.

In [16]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."
print("john loves {} {}, and has {} {}.".format('open-source','software',5,'balloons'))

john loves open-source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [18]:
# Reference sample
print("john the {1} has a pet {0}!".format("shark", "pilot fish"))

john the pilot fish has a pet shark!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [8]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

john the shark has a pet pilot fish!
john is a happy, smiling, and blue shark!

### Python Program to Get String Input from User

In [19]:
#Enter any string and print it
user_input=input('Please enter the input:')

Please enter the input:5

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [20]:
grade = 70
if grade>65:
    print('pass')
else:
    print('fail')

pass

In [3]:
# Use only if
grade = 70

if grade>65:
    print('pass')

pass

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [4]:
# Use if else
balance = 522

if balance >= 0:
    print("your bank account balance is {}".format(balance))
else:
    print("Your bank account balance is negative")

your bank account balance is 522

### Using Else if statement

In [6]:
balance = 522

if balance >= 0:
    print("your bank account balance is {}".format(balance))
elif balance<0:
    print("Your bank account balance is negative")

your bank account balance is 522

### Python program to print  Fibonacci series between 0 to 50.

In [2]:
a=0
b=1

for i in list(range(1,50)):
    if i<50:
        sum=a+b
        a=b
        b=sum
        print(sum)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [3]:
for i in list(range(150,271)):
    if i%7 == 0 and i%5 == 0:
        print(i)

175
210
245

### Python program to Sum all the items in a list

In [5]:
def sum_list(items):
    sum=0
    # Your code here
    for i in items:
        sum += i
    return sum
print(sum_list([20,12,20,22]))

74

### Python program to Remove duplicates from a list.

In [6]:
a = [10,20,30,40,50,60,70,40,80,50,40]
b=[]
for i in a:
    if i not in b:
        b.append(i)

print(b)

[10, 20, 30, 40, 50, 60, 70, 80]

### Python program to Get the largest number from a list.

In [4]:
# def max_num_in_list( list ):
#     # Your code
#     large_value=max(list)
#     return large_value

def max_num_in_list( list ):
    max_value=0
    # Your code
    for i in list:
        if i>max_value:
            max_value=i
    return max_value

print(max_num_in_list([1, 12, 28, 0]))

28

### Concatenation of Tuples.

In [5]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print('''concatenated tuple is {}'''.format(tuple1+tuple2))

concatenated tuple is (0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [10]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'code'))

### Write a Python program to add an item in a tuple.

In [12]:
# Create a tuple & print
a=(1,2,3)
print(a)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

# Adding items in a specific index

a=a[:3]+(4,5,6)
print(a)

(1, 2, 3)
(1, 2, 3, 4, 5, 6)

### Write a Python program to remove an item from a tuple.

In [16]:
# Create a tuple and print it
a=(1,2,3,4,5,6)
print(a)
# Find a way to remove an item of the tuple (Hint: Use other data types)
list_x=list(a)
list_x.remove(1)
a=tuple(list_x)
print(a)

(1, 2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)

### Python Program to Check if a given key already exists in a dictionary.

In [4]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
    if x in d.keys():
        print('key exists')
    else:
        print('key doesn\'t exists')
    
is_key_present(5)
is_key_present(9)

key exists
key doesn't exists

### Write a Python script to merge two Python dictionaries.

In [7]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
new_dict=d1.copy()
new_dict.update(d2)
# Your code
print(new_dict)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

### Write a Python function to find the Max of three numbers.

In [6]:
def max_of_two( x, y ):
    # Your code here
    if x>y:
        return x
    return y
def max_of_three( x, y, z ):
    # Your code here use max_of_two
    return max_of_two(x, max_of_two(y,z))
print(max_of_three(13, 26, -5))

26

### Write a Python program to reverse a string.

In [11]:
def string_reverse(str1):
    empty_string=''
    index=len(str1)
    # Your code goes here
#     reversed_output=str1[::-1]
#     return reversed_output
    while index>0:
        empty_string += str1[index-1]
        index=index-1
    return empty_string
print(string_reverse('INSAID'))

DIASNI

### Write a Python function to calculate the factorial of a number

In [27]:
n=int(input("Input a number to compute the factiorial : "))
def factorial(n):
    fact=1
    while n>0:
        fact *= n
        n=n-1
    return fact
# def factorial(num):
#     factorial_num = 1

#     while num>0:
#         factorial_num *= num
#         num -= 1
#     return factorial_num
print(factorial(n))

Input a number to compute the factiorial : 5
120

### Write a Python function to sum all the numbers in a list.

In [9]:
def sum(numbers):
    sum=0
    for i in numbers:
        sum += i
    # Your code goes here
    return sum
print(sum((8, 2, 3, 0, 7)))

20

### Write a Python function to check whether a number is in a given range.

In [19]:
def test_range(n):
    # Your code
    for i in range(1,n+1):
        if i==n:
            print('its in range')
test_range(5)

its in range

### Find the value of pi using math module.

In [29]:
# import statement example
# to import standard module math

import math
print(math.pi)

3.141592653589793

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [31]:
def file_read(fname):
    with open('test.txt') as file:
        data=file.read()
    return data

file_read('test.txt')

'hi suma welcome!!'

### Write a Python program to read a file line by line and store it into a list.

In [32]:
def file_read(fname):
    with open('test.txt') as file:
        data=file.readlines()
    return data

file_read('test.txt')

['hi suma welcome!!\n', 'How you doing?\n', 'Hope you are doing well.']

### A python program to create user-defined exception.

In [ ]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [2]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    discriminant=(b_value**2)-(4*a_value*c_value)
    if discriminant > 0:
        print('Two Solutions. Discriminant value is:', discriminant)
    elif discriminant == 0:
        print('One Solution. Discriminant value is:', discriminant)
    elif discriminant < 0:
        print('No Real Solutions. Discriminant value is:', discriminant)
    
    return discriminant


print(discriminant())

The a value: 12
The b value: 10
The c value: 5
No Real Solutions. Discriminant value is: -140.0
-140.0

In [ ]:
print('Hello World')

In [ ]:
print('What am I typing are you able to see?')